<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Settings">
        <setting label="Settings" type="lsep"/>
        <setting label="IP" type="text" id="ip" default="192.168.178.20"/>
        <setting label="Benutzername" type="text" id="name" default="admin"/>
        <setting label="Passwort" type="text" id="password" option="hidden" enable="!eq(-1,)" default="admin"/>
        <setting label="PopUp anstatt Liste" type="bool" id="view" default="false"/>
        <setting label="Auto Reload (Liste)" type="bool" id="reload" default="false"/>
    </category>
</settings>